<h3>Listing users</h3>

<% if params[:search] %>
  <p><strong>Filter: </strong> <%= params[:search] %></p>
<% end %>

<ul class="users">
  <% if @users.empty? %>
    Sorry, no users found.
  <% else %>
    <%= render @users %>
  <% end %>
</ul>

<% if not params[:search] %>
<%= will_paginate @users %>
<% end %>