<h3>Listing users</h3>

<% if not params[:search] %>
<%= will_paginate @users %>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>

<% if not params[:search] %>
<%= will_paginate @users %>
<% end %>