<% children = [] %>
<% @users.each do |u| %>
  <% child = {} %>
  <% child[:id] = "#{u.id}" %>
  <% child[:name] = u.first_name + " " + u.last_name %>
  <% child[:children] = [] %>
  <% children << (child) %>
<% end %>

<% data_content = "" %>
<% @users.each do |u| %>
  <% data_content += "<li>#{u.first_name} #{u.last_name}</li>".html_safe %>
<% end %>

<%= { 
  :id => "#{@user.id}",
  :name => @user.first_name + " " + @user.last_name,
  :children => children,
  :data => {
    :relation => "<h4>#{@user.first_name} #{@user.last_name}</h4><b>Following:</b><ul>" + data_content + "</ul>"
  }
}.to_json.html_safe %>