<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
      
      <% unless @interests.empty? %>
        <ul class="interest">
          <%= render @interests %>
        </ul>
        <%= will_paginate @interests %>
      <% end %>
    </td>
    
    <%= render 'shared/sidebar' %>
  </tr>
</table>
