<table id="posts" class="posts" data-id="<%= @user.id %>" summary="News feed posts">
  <% if @posts.empty? %>
    No posts found in your news feed.
  </table>
  <% else %>
    <%= render :partial => 'shared/feed_item', :collection => @posts %>
  </table>
    <%= will_paginate @posts %>
  <% end %>
