<% unless @posts.empty? %>
  <table class="posts" summary="News feed posts">
    <%= render :partial => 'shared/feed_item', :collection => @posts %>
  </table>
  <%= will_paginate @posts %>
<% end %>
