<%= form_for @post, :url => new_user_post_path(@user, @post), :html => {:class => "post_form"}, :action => "create" do |f| %>
  <div class="field">
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class =>"btn primary" %>
  </div>
<% end %>