<h2>News Feed</h2>
<% if @posts.empty? %>
  No posts in your news feed.
<% else %>
  <table class="posts" summary="News feed posts">
    <%= render @posts %>
  </table>
  <%= will_paginate @posts %>
<% end %>
