<h1><%= @title %></h1>
<p>PennBook is a Facebook-style social network created as a final project in MKSE 212, Scalable &amp; Cloud Computing.</p>
<p><b>Contributors:</b> Ceasar Bautista &amp; Adi Dahiya</p>