<% if signed_in? %>
  <td class="main">
    <h1 class="micropost">What's up?</h1>
    <%= render 'shared/feed' %>
  </td>
  <%= render 'shared/stats' %>
<% else %>
  <%= link_to 'New User', new_user_path %>
<% end %>
