/* Globals */
div.main {
  width: 940px;
  margin: 0 auto;
  padding-top: 40px;
}
div.main .flash.alert {
  display: none;
}
a {
  color: #458;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
a:hover {
  color: #000;
  text-decoration: none;
}
header {
  position: fixed;
  height: 35px;
  width: 100%;
  background: #3B5998;
  z-index: 100;
}
header a {
  color: #BCF;
}
header a:hover {
  color: #FFF;
}
header .center {
  width: 940px;
  margin: 0 auto;
}
header .center img.logo {
  height: 25px;
  margin-left: -5px;
  padding: 5px;
  filter: alpha(opacity=85);
  -khtml-opacity: 0.85;
  -moz-opacity: 0.85;
  opacity: 0.85;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
header .center img.logo:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
header .center .search {
  position: absolute;
  width: 220px;
  top: 5px;
  margin-left: 120px;
}
header .center .search form {
  margin: 0;
}
header .center .search input {
  height: 15px;
}
header .center .search input:focus {
  -webkit-box-shadow: 0px 0px 5px #ccccff;
  -moz-box-shadow: 0px 0px 5px #ccccff;
  box-shadow: 0px 0px 5px #ccccff;
}
td.main {
  border: none;
}
/* Home Page */
h1.welcome {
  width: 700px;
  float: left;
}
.mini-signin {
  float: right;
}
.mini-signin input[type='submit'] {
  float: right;
}
/* Forms */
.field label {
  padding-right: 10px;
}
.field br {
  display: none;
}
.field #post_content {
  width: 620px;
}
.field, .actions {
  margin-bottom: 10px;
}
#error_explanation {
  border: solid 1px #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.field_with_errors {
  display: block;
  background: transparent;
}
.field_with_errors label {
  color: red;
}
.field_with_errors input {
  border-color: #EE5F5B;
}
.field_with_errors input:focus {
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
/* Navigation */
ul#nav {
  float: right;
  white-space: nowrap;
  height: 25px;
  margin: 5px 0;
}
ul#nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
ul#nav li a {
  padding: 0 5px;
}
/* Posts */
.timestamp {
  float: right;
  color: #999;
  margin: -1em 1em 0 0;
}
table.posts tr {
  float: left;
  width: 730px;
}
table.posts td.gravatar {
  width: 55px;
}
table.posts td.delete {
  width: 20px;
  padding: 10px 0;
}
table.posts td.post span.user {
  float: left;
  width: 100%;
}
table.posts td.post div.content {
  min-height: 45px;
}
table.posts a.delete {
  display: none;
  position: absolute;
  padding: 1px 5px;
  margin-left: -12px;
  font-size: 10px;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
table.posts a.delete:hover {
  background: #3B5998;
  color: #FFF;
}
ul.comments {
  margin: 2px 0 0 0;
  list-style: none;
  width: 620px;
}
ul.comments li {
  list-style: none;
  background: whiteSmoke;
  padding: 5px 25px 5px 55px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: left;
  width: 560px;
  border-top: solid 1px #CCC;
}
ul.comments li:first-child {
  margin-top: 8px;
}
ul.comments li img {
  float: left;
  margin-left: -50px;
}
ul.comments li span.comment_content {
  max-width: 95%;
  color: #000;
}
ul.comments li span.timestamp {
  margin-right: 0.8em;
}
ul.comments li a.delete {
  margin-right: -22px;
  float: right;
  position: relative;
}
ul.comments .new_comment {
  float: left;
  margin: 10px 0 0 5px;
}
ul.comments .new_comment input#comment_content {
  width: 520px;
}
ul.comments .new_comment input.btn {
  width: auto;
}
.sidebar {
  background: whiteSmoke;
  width: 180px;
}
/* Profile */
table.profile table.user td {
  border: none;
}
table.profile table.user td.gravatar {
  padding-left: 0;
}
table.profile table.user h2 {
  width: 300px;
}
table.profile table.user #follow_form {
  margin-top: 10px;
}
table.profile #new_post {
  margin: 10px 0 0 0;
}
ul.users li {
  display: inline-block;
  width: 207px;
  height: 33px;
  margin: 0 8px 2px 0;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: background-color 0.1s linear, box-shadow 0.1s linear;
  -webkit-transition-duration: 0.15s, 0.15s;
  -webkit-transition-timing-function: linear, linear;
  -moz-transition-property: background-color 0.1s linear, box-shadow 0.1s linear;
  -moz-transition-duration: 0.15s, 0.15s;
  -moz-transition-timing-function: linear, linear;
  transition-property: background-color 0.1s linear, box-shadow 0.1s linear;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: linear, linear;
}
ul.users li:hover {
  background-color: whiteSmoke;
  -webkit-box-shadow: 0px 0px 3px #aaaaaa;
  -moz-box-shadow: 0px 0px 3px #aaaaaa;
  box-shadow: 0px 0px 3px #aaaaaa;
}
ul.users li a, ul.users li img {
  float: left;
  margin-right: 5px;
}
/* Variables
-------------------------------------------------- */
/* Mixins
-------------------------------------------------- */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.center-block {
  display: block;
  margin: 0 auto;
}
.container {
  width: 940px;
  margin: 0 auto;
  zoom: 1;
}
.container:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#flexbox .display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
#reset .global-reset html,
#reset .global-reset body,
#reset .global-reset div,
#reset .global-reset span,
#reset .global-reset applet,
#reset .global-reset object,
#reset .global-reset iframe,
#reset .global-reset h1,
#reset .global-reset h2,
#reset .global-reset h3,
#reset .global-reset h4,
#reset .global-reset h5,
#reset .global-reset h6,
#reset .global-reset p,
#reset .global-reset blockquote,
#reset .global-reset pre,
#reset .global-reset a,
#reset .global-reset abbr,
#reset .global-reset acronym,
#reset .global-reset address,
#reset .global-reset big,
#reset .global-reset cite,
#reset .global-reset code,
#reset .global-reset del,
#reset .global-reset dfn,
#reset .global-reset em,
#reset .global-reset img,
#reset .global-reset ins,
#reset .global-reset kbd,
#reset .global-reset q,
#reset .global-reset s,
#reset .global-reset samp,
#reset .global-reset small,
#reset .global-reset strike,
#reset .global-reset strong,
#reset .global-reset sub,
#reset .global-reset sup,
#reset .global-reset tt,
#reset .global-reset var,
#reset .global-reset b,
#reset .global-reset u,
#reset .global-reset i,
#reset .global-reset center,
#reset .global-reset dl,
#reset .global-reset dt,
#reset .global-reset dd,
#reset .global-reset ol,
#reset .global-reset ul,
#reset .global-reset li,
#reset .global-reset fieldset,
#reset .global-reset form,
#reset .global-reset label,
#reset .global-reset legend,
#reset .global-reset table,
#reset .global-reset caption,
#reset .global-reset tbody,
#reset .global-reset tfoot,
#reset .global-reset thead,
#reset .global-reset tr,
#reset .global-reset th,
#reset .global-reset td,
#reset .global-reset article,
#reset .global-reset aside,
#reset .global-reset canvas,
#reset .global-reset details,
#reset .global-reset embed,
#reset .global-reset figure,
#reset .global-reset figcaption,
#reset .global-reset footer,
#reset .global-reset header,
#reset .global-reset hgroup,
#reset .global-reset menu,
#reset .global-reset nav,
#reset .global-reset output,
#reset .global-reset ruby,
#reset .global-reset section,
#reset .global-reset summary,
#reset .global-reset time,
#reset .global-reset mark,
#reset .global-reset audio,
#reset .global-reset video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#reset .global-reset body {
  line-height: 1;
}
#reset .global-reset ol, #reset .global-reset ul {
  list-style: none;
}
#reset .global-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
#reset .global-reset caption, #reset .global-reset th, #reset .global-reset td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#reset .global-reset q, #reset .global-reset blockquote {
  quotes: none;
}
#reset .global-reset q:before,
#reset .global-reset blockquote:before,
#reset .global-reset q:after,
#reset .global-reset blockquote:after {
  content: "";
  content: none;
}
#reset .global-reset a img {
  border: none;
}
#reset .global-reset article,
#reset .global-reset aside,
#reset .global-reset details,
#reset .global-reset figcaption,
#reset .global-reset figure,
#reset .global-reset footer,
#reset .global-reset header,
#reset .global-reset hgroup,
#reset .global-reset menu,
#reset .global-reset nav,
#reset .global-reset section {
  display: block;
}
#reset .reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}
#reset .reset-font {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#reset .reset-focus {
  outline: 0;
}
#reset .reset-body {
  line-height: 1;
}
#reset .reset-list-style {
  list-style: none;
}
#reset .reset-table {
  border-collapse: collapse;
  border-spacing: 0;
}
#reset .reset-table-cell {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#reset .reset-quotation {
  quotes: none;
}
#reset .reset-quotation:before, #reset .reset-quotation:after {
  content: "";
  content: none;
}
#reset .reset-image-anchor-border {
  border: none;
}
#reset .reset-html5 article,
#reset .reset-html5 aside,
#reset .reset-html5 details,
#reset .reset-html5 figcaption,
#reset .reset-html5 figure,
#reset .reset-html5 footer,
#reset .reset-html5 header,
#reset .reset-html5 hgroup,
#reset .reset-html5 menu,
#reset .reset-html5 nav,
#reset .reset-html5 section {
  display: block;
}
