<%= form_for current_user.affiliations.find_by_organization_id(@organization),
  :html => {:method => :delete } do |f| %>
    <div class="actions"><%= f.submit "Unlike", :class => 'btn danger' %></div>
  <% end %>
